@import 'sass-variables.scss';

body{
    background-color: $body-background-color-main;
    color: $body-color-main;
    font-family: $body-font-family-main;
}

#bingSearchContainer{
    padding-top: 15px;
}

#header{
    text-align: center;
}

#header a:hover {
    text-decoration: $text-decoration-off;
}
