@import 'sass-variables.scss';
body {
    background-color: $body-background-color-main;
    color: $body-color-main;
    font-family: $body-font-family-main;
    padding-bottom: $body-padding-bottom;
    padding-top: $body-padding-top;
}

a {
    color: $body-color-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $body-color-header;
}

#header {
    text-align: center;
}

#header a:hover {
    text-decoration: $text-decoration-off;
}

#help {
    color: $body-color-help;
}

.box {
    background-color: $body-background-color-transparent;
}

table.jPicker {
    background-color: $body-background-color-main;
    border: none;
}

div#colorPicker {
    color: $body-color-jPicker;
}

td.Text>label {
    color: $body-color-jPicker;
}

input {
    color: $body-color-main;
}