$body-background-color-main: #202340;
$body-background-color-transparent: transparent;
$body-color-header: yellow;
$body-color-jPicker: yellow;
$body-color-main: black;
$body-color-help: yellow;
$body-font-family-main: 'Consolas';
$body-padding-bottom: 15px;
$body-padding-top: 15px;
$text-decoration-off: none;
