$body-background-color-main: #2f8fc6;
$body-background-color-transparent: transparent;
$body-color-header: black;
$body-color-jPicker: black;
$body-color-main: black;
$body-color-help: black;
$body-font-family-main: 'Consolas';
$body-padding-bottom: 15px;
$body-padding-top: 15px;
$text-decoration-off: none;
